<!-- email_templates/welcome_email.hbs -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to AceWears!</title>
    <h1 style="text-align: center;">Hi, {{name}}</h1>
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
      }

      .email-content {
        padding: 20px;
        background-color: #f2f2f2;
      }

      .brand-logo {
        max-width: 100px;
        margin: 0 auto;
        display: block;
      }

      .company-intro {
        text-align: center;
        margin-top: 20px;
      }

      .company-intro p {
        font-size: 16px;
        color: #333;
      }

      .footer {
        text-align: center;
        font-size: 12px;
        color: #777;
        margin-top: 30px;
      }
    </style>
  </head>
  <body>
    <div class="email-content">
      <img class="brand-logo" src="https://res.cloudinary.com/dwxly1dc7/image/upload/v1690709239/8838572ba14d424fac2b9eabdcc3215e_zhghil.png" alt="AceWears Logo" />
      <div class="company-intro">
        <h1>Welcome to AceWears!</h1>
        <p>
          Thank you for joining our community. At AceWears, we're passionate about fashion and offer a wide range of
          high-quality clothing, trendy sneakers, stylish watches, and more. Whether you're looking for the latest
          fashion trends or classic styles, we've got something for everyone.
        </p>
        <p>
          Explore our collection of clothing, shoes, accessories, and more. We constantly update our inventory to bring
          you the best selection of fashion-forward items.
        </p>
        <p>
          We hope you enjoy your shopping experience with us. If you have any questions or need assistance, our friendly
          support team is here to help you.
        </p>
      </div>
    </div>
    <div class="footer">
      This is an automated email. Please do not reply.
    </div>
  </body>
</html>
